### Connect to MongoDB

In [1]:
from pymongo import MongoClient
client = MongoClient('localhost',27017) ## or MongoClient("localhost:27")
db = client.apan5400

### Import Data

In [2]:
import pandas as pd
import numpy as np

unemployment = pd.read_csv("Local_Area_Unemployment_Statistics__Beginning_1976.csv")
employment_n_wages = pd.read_csv("Quarterly_Census_of_Employment_and_Wages_Annual_Data__Beginning_2000.csv")
labor_force = pd.read_csv("Selected_Labor_Force_Characteristics_of_Youth_Aged_16_to_24.csv")
population = pd.read_csv("Annual_Population_Estimates_for_New_York_State_and_Counties__Beginning_1970.csv")

#### Local_Area_Unemployment_Statistics__Beginning_1976

In [3]:
unemployment

,Area,Year,Month,Labor Force,Employed,Unemployed,Unemployment Rate
0,New York State,2023,1,"9,594,400","9,155,000","439,400",4.6
1,New York State,2023,2,"9,664,000","9,232,200","431,800",4.5
2,New York State,2022,1,"9,593,500","9,060,200","533,300",5.6
3,New York State,2022,2,"9,594,900","9,078,800","516,100",5.4
4,New York State,2022,3,"9,626,600","9,173,400","453,200",4.7
...,...,...,...,...,...,...,...
87305,Yorktown Town,1990,8,"18,800","18,300",500,2.7
87306,Yorktown Town,1990,9,"18,200","17,800",500,2.7
87307,Yorktown Town,1990,10,"18,200","17,700",500,2.6
87308,Yorktown Town,1990,11,"18,000","17,500",500,2.9
87309,Yorktown Town,1990,12,"18,000","17,400",500,2.9

#### Quarterly_Census_of_Employment_and_Wages_Annual_Data__Beginning_2000

In [4]:
employment_n_wages

,Area Type,Area,NAICS,NAICS Title,Year,Establishments,Average Employment,Total Wage,Annual Average Salary
0,State,New York State,0,"Total, All Industries",2021,"16,419","1,356,205","108,353,922,686","79,895"
1,State,New York State,11,"Agriculture, Forestry, Fishing and Hunting",2021,"3,048","27,326","1,129,605,900","41,338"
2,State,New York State,21,Mining,2021,346,"4,667","352,348,688","75,498"
3,State,New York State,22,Utilities,2021,688,"35,288","4,987,460,561","141,336"
4,State,New York State,23,Construction,2021,"51,357","374,178","29,960,417,033","80,070"
...,...,...,...,...,...,...,...,...,...
477922,County,Yates County,"8,123",Drycleaning and Laundry Services,2000,3,19,"169,839","8,939"
477923,County,Yates County,"8,134",Civic and Social Organizations,2000,7,28,"293,583","10,485"
477924,County,Yates County,"8,139",Professional and Similar Organizations,2000,3,22,"396,651","18,030"
477925,County,Yates County,"8,141",Private Households,2000,12,42,"380,818","9,067"
477926,County,Yates County,"9,211","Executive, Legislative, & Gen Government",2000,14,462,"10,377,643","22,462"

#### Selected_Labor_Force_Characteristics_of_Youth_Aged_16_to_24

In [5]:
labor_force

,Year,Region,Youth Population,Youth Civilian Labor Force,Youth Unemployed,Youth Unemployment Rate
0,2021,New York State,"2,223,359","1,155,775","182,350",15.78
1,2021,Capital Region,"134,614","73,719","8,858",12.02
2,2021,Central New York Region,"101,038","51,913","5,383",10.37
3,2021,Finger Lakes Region,"142,096","85,121","8,350",9.81
4,2021,Hudson Valley Region,"282,129","149,993","23,230",15.49
...,...,...,...,...,...,...
105,2012,Mohawk Valley Region,"64,010","35,977","7,176",19.90
106,2012,New York City Region,"1,046,986","495,712","117,870",23.80
107,2012,North Country Region,"64,552","31,154","6,456",20.70
108,2012,Southern Tier Region,"100,867","51,300","8,316",16.20
109,2012,Western New York Region,"184,997","113,957","16,847",14.80

#### Annual_Population_Estimates_for_New_York_State_and_Counties__Beginning_1970

In [6]:
population

,FIPS Code,Geography,Year,Program Type,Population
0,36000,New York State,2022,Postcensal Population Estimate,"19,677,151"
1,36001,Albany County,2022,Postcensal Population Estimate,"315,811"
2,36003,Allegany County,2022,Postcensal Population Estimate,"46,694"
3,36005,Bronx County,2022,Postcensal Population Estimate,"1,379,946"
4,36007,Broome County,2022,Postcensal Population Estimate,"197,117"
...,...,...,...,...,...
3712,36115,Washington County,1970,Intercensal Population Estimate,"52,938"
3713,36117,Wayne County,1970,Intercensal Population Estimate,"79,703"
3714,36119,Westchester County,1970,Intercensal Population Estimate,"894,227"
3715,36121,Wyoming County,1970,Intercensal Population Estimate,"38,000"
3716,36123,Yates County,1970,Intercensal Population Estimate,"19,978"

#### To Json

In [7]:
import json
#from genson import SchemaBuilder
js_unemployment = unemployment.to_json(orient = 'records')
js_parsed_unemployment = json.loads(js_unemployment)
print(len(js_parsed_unemployment))

87310

In [8]:
import json
#from genson import SchemaBuilder
js_employment_n_wages = employment_n_wages.to_json(orient = 'records')
js_parsed_employment_n_wages = json.loads(js_employment_n_wages)
print(len(js_parsed_employment_n_wages))

477927

In [9]:
import json
#from genson import SchemaBuilder
js_labor_force = labor_force.to_json(orient = 'records')
js_parsed_labor_force = json.loads(js_labor_force)
print(len(js_parsed_labor_force))

110

In [10]:
import json
#from genson import SchemaBuilder
js_population = population.to_json(orient = 'records')
js_parsed_population = json.loads(js_population)
print(len(js_parsed_population))

3717

#### To MongoDB

In [11]:
collection_unemployment = db.unemployment
collection_unemployment.insert_many(js_parsed_unemployment)

In [12]:
collection_employment_n_wages = db.employment_n_wages
collection_employment_n_wages.insert_many(js_parsed_employment_n_wages)

In [13]:
collection_labor_force = db.labor_force
collection_labor_force.insert_many(js_parsed_labor_force)

In [14]:
collection_population = db.population
collection_population.insert_many(js_parsed_population)

#### Preprocessing

In [15]:
# unemployment: labor force only keeps month in December
unemployment_col = db.get_collection('unemployment')
pipeline = [
    { "$match": { "Month": 12 } }
]

db_unemployment = unemployment_col.aggregate(pipeline)

In [16]:
# employment_n_wages: filter for total industry
employment_n_wages_col = db.get_collection('employment_n_wages')
pipeline = [
    { "$match": { "NAICS Title": 'Total, All Industries' } }
]

db_employment_n_wages = employment_n_wages_col.aggregate(pipeline)

#### Join

In [19]:
result = list(db.db_unemployment.aggregate([    
    {        '$lookup':        
     {            'from': 'db_employment_n_wages',            
                  'let': {'year1': '$year', 'areaVar': '$area'},            
                  'pipeline': [               
                      {                    '$match':                    
                       {                        
                          '$expr':                        
                           {                            
                               '$and':                            
                               [                                
                                {'$eq': ['$year', '$$year1']},
                                {'$eq': ['$area', '$$areaVar']}
                            ]
                        }
                    }
                },
                
            ],
            'as': 'employment'
        }
    },
    {
        '$lookup':
        {
            'from': 'labor_force',
            'let': {'year2': '$year', 'regionVar': '$region'},
            'pipeline': [
                {
                    '$match':
                    {
                        '$expr':
                        {
                            '$and':
                            [
                                {'$eq': ['$year', '$$year2']},
                                {'$eq': ['$region', '$$regionVar']}
                            ]
                        }
                    }
                },
                
            ],
            'as': 'labor_force'
        }
    },
    {
        '$lookup':
        {
            'from': 'population',
            'let': {'year3': '$year', 'geographyVar': '$geography'},
            'pipeline': [
                {
                    '$match':
                    {
                        '$expr':
                        {
                            '$and':
                            [
                                {'$eq': ['$year', '$$year3']},
                                {'$eq': ['$geography', '$$geographyVar']}
                            ]
                        }
                    }
                },
               
            ],
            'as': 'population'
        }
    },
    
]))

for doc in result:
    print(doc)

In [20]:
result

[]